<h2>My Profile</h2>
<p><%= @user.username %></p>
<div>
    <h3>My Groups</h3>
    <ul>
       <% @user.groups.each do |group| %>
        <li><%= link_to group.name, group_path(group) %></li>
        <% end %>
        <li><%= link_to "Add...", new_group_path %></li>
    </ul>
    
</div>
<div>
    <h3>My Songs</h3>
    <ul>
       <% @user.songs.each do |song| %>
        <li><%= song.title %> - <%= song.artist %></li>
        <% end %>
        <li><%= link_to "Add...", new_song_path %></li>
    </ul>
    
</div>
<div>
    <h3>My Setlists</h3>
    <ul>
       <% @user.setlists.each do |setlist| %>
        <li><%= link_to setlist.name, setlist_path(setlist) %></li>
        <% end %>
        <li><%= link_to "Add...", new_setlist_path %></li>
    </ul>
    
</div>