<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pros Use...</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <%=content_tag(:li, link_to("Home", root_path)) %>
                <%=content_tag(:li, link_to("Songs", songs_path)) if current_user %>
                <%=content_tag(:li, link_to("Setlists", setlists_path)) if current_user %>
                <%=content_tag(:li, link_to("Groups", groups_path)) if current_user %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <% if session[:user_id] %>
               <%=content_tag(:li, link_to("Log Out", signout_path, method:"delete")) %>
               <% else %>
               <%=content_tag(:li, link_to("Sign In", signin_path)) %>
               <%=content_tag(:li, link_to("Sign Up", signup_path)) %>
                
                <% end %>
            </ul>
        </div>
    </div>
</nav>